.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid #ECECEC;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  margin-bottom: 40px;
  margin-left: 10px;
  font-size: 18px;
  color: #5E5E5E;
  display: block;
  svg {
    padding-right: 5px;
  }
}

.sidenav a:first-child {
  margin-top: 70px;
}

.sidenav a:hover, .sidenav__active {
  color: #f1f1f1;
  width: 206px;
  height: 30px;
  margin-left: 10px;
  padding-top: 15px;
  background: #0079BF;
  box-shadow: 0px 15px 40px rgba(0, 121, 191, 0.25);
  border-radius: 10px;

  svg {
    padding-right: 5px;
    path {
      fill: #f1f1f1;
    }
  }
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}